git add .gitignore
git add App Hardware User Project1.uvprojx Project1.uvoptx# Keil build output
Objects/
Listings/

*.o
*.d
*.crf
*.axf
*.hex
*.bin
*.map
*.lst
*.lnp
*.dep
*.htm
*.build_log.htm

# VSCode / log files
.vscode/*.log
.vscode/*.lock

# Keil personal UI config
*.uvguix.*
*.uvgui.*

# VSCode workspace personal file
*.code-workspace